In [25]:
headers = ["age", "job", "marital", "education", "default", "housing", "loan", "contact", "month", "day_of_week", "duration", "campaign", "pdays", "previous", "poutcome", "emp.var.rate", "cons.price.idx", "cons.conf.idx", "euribor3m", "nr.employed", "y"]
data = [
    [56, "housemaid", "married", "basic.4y", "no", "no", "no", "telephone", "may", "mon", 261, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [57, "services", "married", "high.school", "unknown", "no", "no", "telephone", "may", "mon", 149, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [37, "services", "married", "high.school", "no", "yes", "no", "telephone", "may", "mon", 226, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [40, "admin.", "married", "basic.6y", "no", "no", "no", "telephone", "may", "mon", 151, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [56, "services", "married", "high.school", "no", "no", "yes", "telephone", "may", "mon", 307, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [45, "services", "married", "basic.9y", "unknown", "no", "no", "telephone", "may", "mon", 198, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [59, "admin.", "married", "professional.course", "no", "no", "no", "telephone", "may", "mon", 139, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [41, "blue-collar", "married", "unknown", "unknown", "no", "no", "telephone", "may", "mon", 217, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [24, "technician", "single", "professional.course", "no", "yes", "no", "telephone", "may", "mon", 380, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [25, "services", "single", "high.school", "no", "yes", "no", "telephone", "may", "mon", 50, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [41, "blue-collar", "married", "unknown", "unknown", "no", "no", "telephone", "may", "mon", 55, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [25, "services", "single", "high.school", "no", "yes", "no", "telephone", "may", "mon", 222, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [29, "blue-collar", "single", "high.school", "no", "no", "yes", "telephone", "may", "mon", 137, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [57, "housemaid", "divorced", "basic.4y", "no", "yes", "no", "telephone", "may", "mon", 293, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [35, "blue-collar", "married", "basic.6y", "no", "yes", "no", "telephone", "may", "mon", 146, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [54, "retired", "married", "basic.9y", "unknown", "yes", "yes", "telephone", "may", "mon", 174, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [35, "blue-collar", "married", "basic.6y", "no", "yes", "no", "telephone", "may", "mon", 312, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [46, "blue-collar", "married", "basic.6y", "unknown", "yes", "yes", "telephone", "may", "mon", 440, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [50, "blue-collar", "married", "basic.9y", "no", "yes", "yes", "telephone", "may", "mon", 353, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [39, "management", "single", "basic.9y", "unknown", "no", "no", "telephone", "may", "mon", 195, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [30, "unemployed", "married", "high.school", "no", "no", "no", "telephone", "may", "mon", 38, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [55, "blue-collar", "married", "basic.4y", "unknown", "yes", "no", "telephone", "may", "mon", 262, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [55, "retired", "single", "high.school", "no", "yes", "no", "telephone", "may", "mon", 342, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [41, "technician", "single", "high.school", "no", "yes", "no", "telephone", "may", "mon", 181, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [37, "admin.", "married", "high.school", "no", "yes", "no", "telephone", "may", "mon", 172, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [35, "technician", "married", "university.degree", "no", "no", "yes", "telephone", "may", "mon", 99, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [59, "technician", "married", "unknown", "no", "yes", "no", "telephone", "may", "mon", 93, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [39, "self-employed", "married", "basic.9y", "unknown", "no", "no", "telephone", "may", "mon", 233, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [54, "technician", "single", "university.degree", "unknown", "no", "no", "telephone", "may", "mon", 255, 2, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [55, "unknown", "married", "university.degree", "unknown", "unknown", "unknown", "telephone", "may", "mon", 362, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [46, "admin.", "married", "unknown", "no", "no", "no", "telephone", "may", "mon", 348, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [59, "technician", "married", "unknown", "no", "yes", "no", "telephone", "may", "mon", 386, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [49, "blue-collar", "married", "unknown", "no", "no", "no", "telephone", "may", "mon", 73, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [54, "management", "married", "basic.4y", "unknown", "yes", "no", "telephone", "may", "mon", 230, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [54, "blue-collar", "divorced", "basic.4y", "no", "no", "no", "telephone", "may", "mon", 208, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [55, "unknown", "married", "basic.4y", "unknown", "yes", "no", "telephone", "may", "mon", 336, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [34, "services", "married", "high.school", "no", "no", "no", "telephone", "may", "mon", 365, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [52, "technician", "married", "basic.9y", "no", "yes", "no", "telephone", "may", "mon", 1666, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [41, "admin.", "married", "university.degree", "no", "yes", "no", "telephone", "may", "mon", 577, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [56, "technician", "married", "basic.4y", "no", "yes", "no", "telephone", "may", "mon", 137, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [58, "management", "unknown", "university.degree", "no", "yes", "no", "telephone", "may", "mon", 366, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [32, "entrepreneur", "married", "high.school", "no", "yes", "no", "telephone", "may", "mon", 314, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [38, "admin.", "single", "professional.course", "no", "no", "no", "telephone", "may", "mon", 160, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [57, "admin.", "married", "university.degree", "no", "no", "yes", "telephone", "may", "mon", 212, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [44, "admin.", "married", "university.degree", "unknown", "yes", "no", "telephone", "may", "mon", 188, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [42, "technician", "single", "professional.course", "unknown", "no", "no", "telephone", "may", "mon", 22, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [57, "admin.", "married", "university.degree", "no", "yes", "yes", "telephone", "may", "mon", 616, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [40, "blue-collar", "married", "basic.9y", "no", "no", "yes", "telephone", "may", "mon", 178, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"],
    [35, "admin.", "married", "university.degree", "no", "yes", "no", "telephone", "may", "mon", 355, 1, 999, 0, "nonexistent", 1.1, 93.994, -36.4, 4.857, 5191, "no"]
]


df=pd.DataFrame(data,columns=headers)
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
5,45,services,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
6,59,admin.,married,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
7,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
8,24,technician,single,professional.course,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
9,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
10,41,blue-collar,married,unknown,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
11,25,services,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
12,29,blue-collar,single,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
13,57,housemaid,divorced,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
14,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
15,54,retired,married,basic.9y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
16,35,blue-collar,married,basic.6y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
17,46,blue-collar,married,basic.6y,unknown,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
18,50,blue-collar,married,basic.9y,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
19,39,management,single,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
20,30,unemployed,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
21,55,blue-collar,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
22,55,retired,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
23,41,technician,single,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
24,37,admin.,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
25,35,technician,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
26,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
27,39,self-employed,married,basic.9y,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
28,54,technician,single,university.degree,unknown,no,no,telephone,may,mon,...,2,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
29,55,unknown,married,university.degree,unknown,unknown,unknown,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
30,46,admin.,married,unknown,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
31,59,technician,married,unknown,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
32,49,blue-collar,married,unknown,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
33,54,management,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
34,54,blue-collar,divorced,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
35,55,unknown,married,basic.4y,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
36,34,services,married,high.school,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
37,52,technician,married,basic.9y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
38,41,admin.,married,university.degree,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
39,56,technician,married,basic.4y,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
40,58,management,unknown,university.degree,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
41,32,entrepreneur,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
42,38,admin.,single,professional.course,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
43,57,admin.,married,university.degree,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
44,44,admin.,married,university.degree,unknown,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
45,42,technician,single,professional.course,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
46,57,admin.,married,university.degree,no,yes,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
47,40,blue-collar,married,basic.9y,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no
48,35,admin.,married,university.degree,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191,no

In [18]:
df.dtypes

age                 int64
job                object
marital            object
education          object
default            object
housing            object
loan               object
contact            object
month              object
day_of_week        object
duration            int64
campaign            int64
pdays               int64
previous            int64
poutcome           object
emp.var.rate      float64
cons.price.idx    float64
cons.conf.idx     float64
euribor3m         float64
nr.employed         int64
y                  object
dtype: object

In [29]:
# Importing necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer


# Define features and target variable
X = df.drop('y', axis=1)
y = df['y']

# Encoding categorical variables using One-Hot Encoding
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
numeric_columns = [col for col in X.columns if col not in categorical_columns]
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric_columns),
        ('cat', OneHotEncoder(), categorical_columns)
    ]
)
X_encoded = preprocessor.fit_transform(X)

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Initialize the Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions on the test set
y_pred = clf.predict(X_test)

# Evaluate the model
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Classification report
print(classification_report(y_test, y_pred))

# Confusion matrix
print(confusion_matrix(y_test, y_pred))

Accuracy: 1.00
              precision    recall  f1-score   support

          no       1.00      1.00      1.00        10

    accuracy                           1.00        10
   macro avg       1.00      1.00      1.00        10
weighted avg       1.00      1.00      1.00        10

[[10]]

In [30]:
# Importing necessary libraries
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

# Create a DataFrame with sample data for illustration purposes
data = pd.DataFrame({
    'age': [30],
    'job': ['manager'],
    'marital': ['married'],
    'education': ['university'],
    'default': ['no'],
    'housing': ['yes'],
    'loan': ['no'],
    'contact': ['cellular'],
    'month': ['may'],
    'day_of_week': ['mon'],
    'duration': [200],
    'campaign': [1],
    'pdays': [100],
    'previous': [0],
    'poutcome': ['nonexistent'],
    'emp.var.rate': [1.1],
    'cons.price.idx': [93.876],
    'cons.conf.idx': [-40.0],
    'euribor3m': [4.857],
    'nr.employed': [5191],
    'y': ['unknown']  # Placeholder for prediction
})

# Load the dataset
# data = pd.read_csv('your_dataset.csv')

# Define features and target variable
X = df.drop('y', axis=1)
y = df['y']

# Encoding categorical variables using One-Hot Encoding
categorical_columns = ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'day_of_week', 'poutcome']
numeric_columns = [col for col in X.columns if col not in categorical_columns]
preprocessor = ColumnTransformer(
    transformers=[
        ('num', 'passthrough', numeric_columns),
        ('cat', OneHotEncoder(), categorical_columns)
    ]
)
X_encoded = preprocessor.fit_transform(X)

# Splitting the data into training and testing sets (for illustration purposes, not needed for a single prediction)
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Initialize the Decision Tree Classifier
clf = DecisionTreeClassifier(random_state=42)

# Train the model
clf.fit(X_train, y_train)

# Make predictions for the sample data
sample_prediction = clf.predict(X_encoded)
print("Predicted class for the sample data:", sample_prediction[0])

Predicted class for the sample data: no